# .env.development
BASEURL=
KEYID=
KEYSECRET=
WEBHOOKSECRET=
RAZORPAYBASEURL=
RAZORPAYBASEURL2=
ENV=

# .env.production

BASEURL=
KEYID=
KEYSECRET=
WEBHOOKSECRET=
RAZORPAYBASEURL=
RAZORPAYBASEURL2=
ENV=